@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1{
    font-size: 34px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 16px;
}

ol{
    list-style-type: circle;
    margin-left: 50px;
}
ul{
    list-style-type: decimal;
    margin-left: 50px;
}